@model MyMvcApp.Models.Bestilling

<h2>Rediger vare</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label>Ref.no</label>
        <input asp-for="RefNo" class="form-control" />
    </div>

    <div>
    <label>Selger</label>
        <select asp-for="Selger" class="form-control">
            <option value="">Velg selger</option>
            <option value="Agne">Agne</option>
            <option value="Torbjørn">Torbjørn</option>
            <option value="Jan Tore">Jan Tore</option>
            <option value="Roger">Roger</option>
            <option value="Kjartan">Kjartan</option>
        </select>
    </div>

    <div>
        <label>Varegruppe</label>
        <select asp-for="Varegruppe" class="form-control">
            <option value="">Velg vare</option>
            <option value="Glassprodukt">Glassprodukt</option>
            <option value="Dør">Dør</option>
            <option value="Vindu">Vindu</option>
            <option value="Garasjeport">Garasjeport</option>
            <option value="Profiler">Profiler</option>
            <option value="Annet">Annet</option>
        </select>
    </div>
    <div>
        <label>Info om vare</label>
        <input asp-for="InfoOmVare" class="form-control" />
    </div>
    <div>
        <label for="SendesFraLager">Sendes fra lager</label>
        <input type="date" id="SendesFraLager" name="SendesFraLager"
            value="@(Model?.SendesFraLager.ToString("yyyy-MM-dd"))"
            class="form-control" />
    </div>


    <button type="submit" class="btn btn-success" style="margin-top: 10px;">Lagre endringer</button>
    <a href="/Bestilling" class="btn btn-secondary" style="margin-top: 10px;">Avbryt</a>
</form>
